
module mi-snapd 1.0;

require {
	type unconfined_t;
	type snappy_t;
	class unix_stream_socket connectto;
}

#============= snappy_t ==============

#!!!! This avc is allowed in the current policy
allow snappy_t unconfined_t:unix_stream_socket connectto;
